.popup__container {
    background-color: var(--white-color);
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    transform-origin: center;
    border-radius: 4px;
    z-index: 999;
    padding: 25px 20px 20px 20px;
    display: flex;
    align-items: flex-start;
    gap: 0 30px;
    transition: all 0.1s ease 0.2s;
    animation: zoomIn 0.2s;
}

@keyframes zoomIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.popup__icon {
    margin-top: 8px;
}


.popup__text {
    font-family: RobotoRegular;
    font-size: 15px;
    line-height: 24px;
}

.popup__text p {
    font-family: RobotoBold;
}

.popup__btn .btn--sm-pop {
    height: 36px;
}

.popup__content {
    display: flex;
    flex-direction: column;
    gap: 40px 0;
    align-items: flex-end;
}

.popup__btn {
    float: right;
}

.mwidth--300 {
    max-width: 300px;
}

.mwidth--345 {
    max-width: 345px;
}

.property>b {
    word-wrap: break-word;
}